<section>
  <div class="content"> 
    <div class="row">
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo1.jpg)"></div>
          <div class="card-text">            
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>PAVÊ SIMPLES DE CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>40 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>10 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo2.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>PAVÊ DE CHOCOLATE BRANCO COM NEGRESCO</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>20 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>15 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo3.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>BOLO DE CHOCOLATE SEM FARINHA</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>80 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>20 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo4.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>BOLO FLORESTA NEGRA</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>80 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>25 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo5.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>FONDUE DE CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>40 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>16 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo6.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>DOCE GELADO DE COCO COM CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>40 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>25 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo7.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>SORVETE DE CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>80 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>15 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo8.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>MOUSSE DE CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>20 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>15 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card" href="">
          <div class="card-img" style="background-image: url(../../assets/promo9.jpg)"></div>
          <div class="card-text">
            <h1><p>DOCES & SOBREMESAS</p></h1>
            <h2><p>DOCE GELADO DE COCO COM CHOCOLATE</p></h2>
            <h3><p>Por: Matheus Cunha</p></h3>
          </div>
          <div class="backdrop-promo">
            <div class="row">
              <div class="col">
                  <i class="fas fa-clock"></i>
                  <p>20 min</p>
              </div>
              <div class="col">
                  <i class="fas fa-cheese"></i>
                  <p>5 Porções</p>
              </div>
            </div>
            <div class="row">
              <div class="button">
                Ver Receita
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>