<footer>
  <div class="col b">
    <img src="../../assets/Logo-off.png" class="branding">
    © All rights reserved. ChocoBom
  </div>
  <div class="col">
    <a href="">Inicio</a>
    <a href="">Receitas</a>      
    <a href="">Sobre</a>      
    <a href="">Contato</a>     
  </div>
  <div class="col" id="Newsletter">
    <p>Cadastre seu e-mail e receba</p>
    <p>nossa Newsletter</p>
    <input type="text" class="Newsletter">
  </div>
  <div class="col" id="redes">
    <p>Redes sociais </p>
    <div class="icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-tumblr-square"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
  </div>
</footer>