<div class="content">
  <div class="main-col">
      <div class="promo">
        <div class="img-box main">
          <div class="backdrop">
            <i class="far fa-play-circle"></i>
          </div>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="row">
      <a class="card" href="">
        <div class="img-box sub" style="background-image: url(../../assets/Box-card1.jpg)">
          <div class="backdrop">
            <i class="far fa-play-circle"></i>
          </div>
        </div>
        <div class="card-content">          
          <h1><p>DOCES & SOBREMESAS</p></h1>
          <h2><p>A MELHOR RECEITA DE BOLO DE CHOCOLATE</p></h2>
          <h3><p>Por: Matheus Cunha</p></h3>
        </div>
      </a>
    </div>
    <div class="row">
      <a class="card" href="">
        <div class="img-box sub" style="background-image: url(../../assets/Box-card2.jpg)">
          <div class="backdrop">
            <i class="far fa-play-circle"></i>
          </div>
        </div>
        <div class="card-content">
          <h1><p>DOCES & SOBREMESAS</p></h1>
          <h2><p>BOLO DE CHOCOLATE DE LIQUIDIFICADOR</p></h2>
          <h3><p>Por: Matheus Cunha</p></h3>
        </div>
      </a>
    </div>
  </div>
</div>